.BlogDetail-sec{
    margin-top: 150px;
}
.BlogDetail-card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.BlogDetail-card-info h1{
    text-align: center;
 
}
.BlogDetail-card-info img{
    width: 100%;
    max-height: 550px;
    border-radius: 20px;
    object-fit: cover;
    margin-top: 60px;
}
.BlogDetail-des{
    margin-top: 60px;
}


.blog-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 2%;
}



.blog-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 550px;
    overflow-y: auto;
    width: 50%;
}

/* Scrollbar for WebKit browsers */
.blog-list::-webkit-scrollbar {
    width: 10px;
    border-radius: 20px !important;
}
.blog-list::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 10px;
}

.blog-list::-webkit-scrollbar-thumb {
    background-color: rgba(236, 34, 39, 0.3);
    border-radius: 10px;
    border: 2px solid #f1f1f100;
}

/* For Firefox */
.blog-list {
    scrollbar-width: thin;
    scrollbar-color: rgba(236, 34, 39, 0.3) #f1f1f100;
    
}

.blog-list::-moz-scrollbar {
    width: 10px;
}

.blog-list::-moz-scrollbar-track {
    background: #f1f1f100;
    border-radius: 10px;
}

.blog-list::-moz-scrollbar-thumb {
    background-color: rgba(236, 34, 39, 0.3);
    border-radius: 10px;
    border: 2px solid #f1f1f100;
}

.blog-card-list img{
    max-width: 234px;
    border-radius: 20px;
}
.blog-card-list {
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.clamp-2-lines{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog-card-big {
    height: 550px;
}
.show-post img{
    width: 100%;
    object-fit: cover;
    max-height: 400px;
    border-radius: 20px;
    max-width: 1200px;
}
.blog-card-big-content{
    max-width: 1200px;
}
.clamp-3-lines{
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width:1024px){
    .font-normal-css{
        font-weight: 200 !important;
        margin-top: 20px;
    }
    .h-480{
        height: 480px !important;
    }
    .blog-container{
        flex-direction: column-reverse;
    }
    .blog-list{
        width: 100vw;
        flex-direction: row;
        overflow-x: auto;
    }
    .blog-card-big{
            height: 100%;
            display: flex;
            gap: 10px;
            max-height: 140px;
            margin-bottom: 25px;
    }
    .blog-card-list{
        flex-direction: column;
    }
    .blog-card-big img{
        max-width: 170px;
        border-radius: 20px;
      
    }
    .blog-card-big h6{
        margin-top: 0 !important;
    }
    .blog-card-big p{
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        margin-top: 0 !important;
    }
    .blog-card-list-content p{
        margin-bottom: 0 !important;
    }
    .blog-card-big-content,.blog-card-list-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .blog-list{
        height: 100%;
        
    }
    .h6-size{
        font-size: 16px;
        margin-top: 0 !important;
    }
    .line-height-p{
        line-height: 20px;
    }
    .blog-card-list img{
        max-width: 170px;
    }
    .BlogDetail-sec{
        margin-top: 50px ;
    }
}