.card-customer{
    background: #1D1313;
    padding: 10px 15px;
    border-radius: 20px;
    /* transition: 10s all ease  !important; */
    width: 100%;
    max-width: 450px;
}
.card-customer:hover{
     background: linear-gradient(96.9deg, #EC2227 12.93%, #DB070D 58.76%);
}
.profile-card{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
.img-profile{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.p-opinion{
    color: #FFFFFF !important;
    font-weight: 300;
    font-size: 16px;
    /* font-style: normal; */
}
.h6-profile{
    color: #f5f5f5;
    font-weight: 300;
    font-size: 12px;
}
.p-profile{
    color: #f5f5f5;
    font-weight: 300;
    font-size: 15px;
}