.card-customer{
    background: #1D1313;
    padding: 20px 25px;
    border-radius: 20px;
    /* transition: 10s all ease  !important; */
    width: 100%;
}
.card-customer:hover{
     background: linear-gradient(96.9deg, #EC2227 12.93%, #DB070D 58.76%);
}
.profile-card{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
.img-profile{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.p-opinion{
    color: #FFFFFF !important;
    font-weight: 300;
    font-size: 16px;
    /* font-style: normal; */
}
.h6-profile{
    color: #f5f5f5;
    font-weight: 300;
    font-size: 12px;
}
.p-profile{
    color: #f5f5f5;
    font-weight: 300;
    font-size: 15px;
}
.card-customer .text-xs{
    font-weight: 700;
    font-size: 14px;
}
@media (max-width:1024px){
    .card-customer{
        padding: 30px 25px;
    }
    .card-customer .text-xs{
        font-weight: 700;
        font-size: 14px;
    }
}