.FooterCon-container {
  background-image: url(../../../static/Frame\ 7030.svg);
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-FooterCon {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}
.content-FooterCon > * {
  margin: 0;
}
.content-FooterCon h2 {
  color: #f5f5f5;
  font-size: 2rem;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  width: 60%;
}
.content-FooterCon h2 span {
  color: rgba(236, 34, 39, 1);
}
.content-FooterCon p {
  color: #f5f5f5;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  width: 70%;
}
.content-FooterCon > a {
  padding: 1rem 2rem;
  width: fit-content;
  margin-top: 0.5rem;
  transition: 0.3s ease;
  font-weight: 700;
}
.btn-footercon {
  color: #ec2227;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
  background: #f5f5f5;
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  text-decoration: none;
}
.btn-footercon img {
  margin-left: 10px;
}
.btn-footercon:hover {
  background-color: #f5f5f5 !important;
  color: #ec2227 !important;
}
/* html[lang="ar"] .content-FooterCon a svg{
  rotate: 180deg;
} */
@media (min-width: 1024px) {
  .sec-card {
    width: 1300px;
  }
}
@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
  .FooterCon-container{
    height: 100% + 20px;
  }
  .content-FooterCon h2 {
    font-size: 38px;
    line-height: 50px;
    text-align: left;
  }
  .content-FooterCon h2 {
    font-size: 40px;
    width: 90%;
    line-height: 50px;
    }
  .content-FooterCon p {
    width: 90%;
    text-align: left;
  }
  .content-FooterCon{
    width: 90%;
    align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .FooterCon-container {
    height: 100%;
    margin-top: 50px;
  }
  .content-FooterCon {
    row-gap: 20px;
  }
  .content-FooterCon h2 {
    font-size: 24px;
    width: 90%;
    line-height: 40px;
  }
  .content-FooterCon p {
    width: 90%;
    font-weight: 400;
  }
  .content-FooterCon > a {
    padding: 10px 20px;
    margin-top: 1.5rem;
    font-size: 14px;
    
  }
  .footer-bottom > div > div {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
  }
  .footer-bottom .company-info address {
    margin-top: 28px;
    margin-bottom: 35px;
  }
  .footer-bottom .company-info address p {
    margin: 0;
  }
  .footer-bottom .company-links > ul {
    margin: 0;
  }
}
