@import url("https://fonts.cdnfonts.com/css/faktum-test");
@font-face {
  font-family: "Faktum-Bold";
  src: url("../../../Fonts/faktum-test/Faktum-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Faktum-ExtraBold";
  src: url("../../../Fonts/faktum-test/Faktum-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* @font-face {
  font-family: "Faktum-light";
  src: url("../../../Fonts/faktum-test/Faktum-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
} */

@font-face {
  font-family: "Faktum-Medium";
  src: url("../../../Fonts/faktum-test/Faktum-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Faktum-Regular";
  src: url("../../../Fonts/faktum-test/Faktum-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.Footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}
.Footer-sec {
  display: flex;
  justify-content: space-between;
}
.logo img {
  object-fit: contain !important;
}
.social-icon {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 1rem;
}
.Footer-sec-1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.Footer-sec-1 p {
  color: #f5f5f5;
  font-size: 17px;
  font-weight: 400;
  margin: 0;
}
ul {
  list-style-type: none;
}
.Footer-sec-2 li {
  margin-bottom: 10px;
}
.Footer-sec-2 a {
  color: #f5f5f5;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  font-family: "Faktum-Regular";
  margin-bottom: 20px;
}
.container {
  position: relative;
}

.circle {
  position: absolute;
  left: -23%;
  bottom: -27%;
  display: none;
}
.social-icon img {
  width: 20px;
  height: 20px;
}
.social-icon a {
  z-index: 5;
}
address {
  margin-top: 26px;
}
address p {
  margin-bottom: 0.5rem;
}
.full-width-media h1{
  line-height: 55px;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .Footer-sec {
    width: 1300px;
  }
}
@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
  .full-width-media h1{
    font-size: 32px;
    line-height: 55px;
    margin-bottom: 20px;
    line-height: unset;
    font-weight: 700;
  }
}

@media (max-width: 767px) {
  ul {
    padding-left: 0;
  }
  .Footer-sec {
    flex-direction: column;
  }
  img.logo {
    width: 160px;
  }
  .full-width-media {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .full-width-media h1{
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
    line-height: unset;
    font-weight: 700;
  }
  .Footer-container p{
    font-size: 16px;
    font-weight: 400;
  }
  .margin-zero{
    margin-top: 0 !important;
  }
}

/* Improvements */

.footer-bottom .company-info address {
  margin-top: 28px;
  margin-bottom: 55px;
}

.footer-bottom .company-info address p {
  margin: 0;
}

ul.footer-links-list {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  position: relative;
  z-index: 2;
}

ul.footer-links-list li {
  margin: 0;
}

ul.footer-links-list li a {
  color: rgba(255, 255, 255, 0.8);
}
html[lang="ar"] ul.footer-links-list li{
  text-align: right;
}
html[lang="ar"] .company-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
html[lang="ar"] .footer-bottom .grid.grid-cols-2.gap-8.px-4.py-6.lg\:py-8.md\:grid-cols-3{
  direction: rtl;
}