.Say-Customer-sec{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 10px
} 
.Say-Coustmer-container{
    width: 90% ;
}
.slider-sec{
    margin-top: 50px;
}
h1.Say-Coustmer-title{
    color: #f5f5f5;
    text-align: center;
}
.Say-Customer-title{
    font-weight: 700;
}
.swiper-wrapper{
    margin-bottom: 20px;
    align-items: center;
}
span.swiper-pagination-bullet {
    background: white !important;
    width: 16px;
    height: 16px;
}
.Say-Coustmer-sec .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden{
padding-bottom: 30px;
}
.Say-Coustmer-sec .swiper-button-next:after{
    color: #f5f5f5;
}
.Say-Coustmer-sec .swiper-button-prev:after{
    color: #f5f5f5;
}
.Say-Customer-container{
    width: 90%;
}
.Say-Customer-container .swiper-slide.swiper-slide-next{
    max-width: 440px;
}
.Say-Customer-swiper{
    max-width: 100vw !important;
}
.Say-Customer-container  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    display: none;
}
@media (min-width:1024px) {
    .Say-Coustmer-container{
        width:100%;
    }
}
@media (max-width: 1200px) {
    
}

@media (max-width: 1024px) {
    .Say-Customer-container {
        width: 90%;
    }
    .Say-Customer-title{
        font-weight: 700;
        font-size: 24px;
    }
    .Say-Customer-container  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
        display: inline-block;
        bottom: 4px !important;
    }
    .slider-sec.relative {
        max-width: 100vw;
    }
    .Say-Coustmer-container .swiper-slide {
        /* height: 15em !important; */
    }

    h1.Say-Coustmer-title{
        text-align: left;
    }
    .Say-Coustmer-container .swiper.swiper-initialized.swiper-horizontal.swiper-ios{
        padding-bottom: 200px;
    }
}

@media (max-width: 767px) {
    .Say-Coustmer-container{
        width: 100%;
    }
    /* .Say-Coustmer-sec .swiper-slide {
        height: 15em !important;
    } */
    .Say-Coustmer-container .swiper.swiper-initialized.swiper-horizontal.swiper-ios{
        padding-bottom: 70vw;
    }
    h1.Say-Coustmer-title{
        text-align: left;
    }
    .Say-Coustmer-container .swiper.swiper-initialized.swiper-horizontal{
        padding-bottom: 150px;
    }
    .Say-Coustmer-container .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden{
        padding-bottom: 50px !important;
    }
}