@import url("https://fonts.cdnfonts.com/css/faktum-test");
@font-face {
  font-family: "Faktum-Bold";
  src: url("../../Fonts/faktum-test/Faktum-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Faktum-ExtraBold";
  src: url("../../Fonts/faktum-test/Faktum-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}


@font-face {
  font-family: "Faktum-Medium";
  src: url("../../Fonts/faktum-test/Faktum-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Faktum-Regular";
  src: url("../../Fonts/faktum-test/Faktum-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


* {
  font-family: "Faktum Test", sans-serif;
}
p {
  font-family: "Faktum-Regular";
  line-height: 28px;
}
body {
  background: #0f0202 !important;
}
 html[lang="ar"] h1,
 html[lang="ar"] h2,
 html[lang="ar"] h3,
 html[lang="ar"] h4,
 html[lang="ar"] h5,
 html[lang="ar"] h6,
 html[lang="ar"] a,
 html[lang="ar"] li,
 html[lang="ar"] p,
 html[lang="ar"] span,
 html[lang="ar"] button {
  font-family: "Noto Kufi Arabic", sans-serif !important;
  line-height: normal !important;
  direction: rtl !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Faktum Test", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #f5f5f5 !important;
}
.frame-secImg img:nth-child(2) {
  margin-top: -392px;
  display: flex;
}
.frame-secImg img:nth-child(1) {
  width: 90%;
}
.border-radius30 {
  border-radius: 30px;
}
.title-res{
  font-size: 32px;
  line-height: 33.6px;
}
@media (max-width: 1024px) {
  .frame-secImg img:nth-child(2) {
    width: 92% !;
    margin-top: -400px;
  }
}
@media (max-width: 767px) {
  .frame-secImg img:nth-child(2) {
    width: 370px;
    margin: auto;
    margin-top: -200px;
  }
}
html[lang="ar"] .IconCard-css-arabic{
  direction: ltr;
  gap: 50px !important;
  row-gap: 20px !important;
}
/* html[lang="ar"] .our-features-section > div .content-section ul.react-tabs__tab-list{
  flex-direction: row-reverse;
} */
html[lang="ar"] .p-tab{
  text-align: right;
}
html[lang="ar"] .IconCard-css-arabic .flex.items-center.gap-2{
  flex-direction: row-reverse;
}
/* html[lang="ar"] .content-section{
 align-items: end;
} */
/* Improvements */

.primary-heading {
  margin: 0 !important;
  font-weight: 700;
}

.main-header {
  overflow-x: hidden;
}

.main-header > div {
  padding-top: 7rem;
}
html[lang="ar"] .main-header > div{
  direction: rtl;
}
.heading-container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.heading-container p {
  margin: 0 !important;
}

.main-header .heading-container .primary-heading {
  width: 100%;
  max-width: 100% !important;
  margin: 0 !important;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.3;
  height: 100%;
}

.main-header .heading-container .primary-heading > div {
  margin-bottom: 10px !important;
}

.main-header .heading-container .sub-heading {
  line-height: 2rem;
  margin: 0;
}

.primary-cta {
  width: fit-content;
  padding: 1rem 2rem !important;
  background: linear-gradient(to right, #ec2227, #db070d);
  box-shadow: 0px 0px 50px 0px #ec222730;
  transition: 0.3s ease;
}

.main-header .heading-container .primary-cta {
  margin-top: 3rem;
}

.main-header .hero-img-container {
  position: relative;
  margin-left: 120px;
}

.main-header .hero-img-container::before {
  content: "";
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: rgba(236, 34, 39, 0.3);
  border-radius: calc(infinity * 1px);
  filter: blur(7rem);
  top: 5rem;
  left: 5rem;
  z-index: 0;
}

.main-header .hero-img-container img {
  z-index: 9;
  position: relative;
  object-fit: contain;

}
html[lang="ar"] .main-header .hero-img-container img{
  width: 100%;
}
.our-features-section {
  position: relative;
  padding: 6rem 0;
}

.our-features-section::before {
  content: "";
  position: absolute;
  width: 16rem;
  height: 16rem;
  filter: blur(7rem);
  background: rgba(236, 34, 39, 0.5);
  border-radius: calc(infinity * 1px);
  z-index: -1;
  bottom: -5rem;
  left: -10rem;
}
html[lang="ar"] .our-features-section::before{
  left: 0;
}
.our-features-section .heading-container {
  padding-right: 6rem;
}
html[lang="ar"] .our-features-section .heading-container{
  padding-right: 0;
}
html[lang="ar"]  .main-header .heading-container .primary-cta img{
  rotate: 180deg; 
  
}
.our-features-section .gif-container img:first-child {
  border-radius: 10px;
}

.content-section {
  display: flex;
}
.content-section h1{
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 20px;
}



.bg-mainDark {
  background: #1d1313 !important;
}
html[lang="ar"] .swiper{
  direction: ltr;
}
.services-container + .our-features-section > div {
  gap: 70px !important;
}
/* html[lang="ar"] .our-features-section > div{
  flex-direction: row-reverse;
} */
html[lang="ar"] .heading-container {
  text-align: right;
}

.services-container + .our-features-section > div .content-section {
  row-gap: 40px;
}

.services-container + .our-features-section > div .content-section > h1 {
  margin: 0 !important;
  font-weight: 700;
}

.services-container
  + .our-features-section
  > div
  .content-section
  ul.react-tabs__tab-list {
  display: flex;
  gap: 2rem;
  margin: 0 0 24px 0;
}

.services-container
  + .our-features-section
  > div
  .content-section
  ul.react-tabs__tab-list
  li {
  margin: 0;
}

.latest-insights-section > h1 {
  margin: 2rem 0 6rem 0;
}
.latest-insights-section{
  height: 100%;
}
.latest-insights-section .articles-container {
  display: flex;
  gap: 2rem;

}

.blog-card {
  display: flex;
  flex-direction: column;
  /* height: 550px; */
  border-radius: 20px;
  transition: 0.3s ease;
}

.blog-card.standard {
  height: 550px;
}

.blog-card {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.blog-card:hover {
  transform: translateY(-10px);
}

.blog-card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: linear-gradient(to top, rgba(28, 28, 28, 1), rgba(28, 28, 28, 0));
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.blog-card:hover::after {
  opacity: 0;
}
.blog-card p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 5.6em; /* Fallback for non-webkit browsers. Adjust based on your line-height */
  line-height: 1.4em;
}
.blog-card-group > div{
  width: 100%;
}
.content-preview-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 60%;
}

.article-thumbnail-container {
  height: 40%;
  overflow: hidden;
}

/* .article-thumbnail-container > img {
  height: 100%;
} */

.read-more-btn {
  margin-top: auto;
  width: fit-content;
}
.title-res{
  font-size: 28px;
}
.spacing{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.mobile{
  display: none;
}
@media (max-width: 1024px){
  .latest-insights-section .articles-container{
    flex-wrap: wrap;
   
  }
  .mobile{
    display: flex !important;
  }
  .desktop{
    display: none !important;
  }
  .latest-insights-section .articles-container .blog-card{
    width: 45%;
  }
  .main-header .heading-container .primary-heading{
    font-size: 32px;
  }
  .main-header > div{
    padding-top: 0rem;
  }
  .main-header .heading-container .primary-cta{
    margin-top: 0;
  }
  .our-features-section .heading-container {
    gap: 1rem;
    padding: 0;
    margin-top: 50px;
  }
  .featured-on-section{
    margin-top: 0;
  }
  .our-features-section{
    padding: 3rem 0;
  }
  .content-section h1 {
    line-height: 40px;
  }
}
@media (max-width: 767px) {
  .latest-insights-section .articles-container .blog-card{
    width: 100%;
  }
  .top-header {
    padding: 20px 1rem;
    justify-content: space-between;
    align-items: center;
  }

  .top-header .NavBar-sec {
    padding: 0;
  }

  .top-header .nav-menu-btn-container {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .top-header .nav-menu-btn-container .btn-danger img{
    width: 3rem;
    height: 2rem;
  }
.switchLanguage-btn{
  font-size: 20px;
        color: #fff;
        padding: 10px 16px;
        justify-content: center;
}
.switchLanguage-btn img{
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
}
html[lang="ar"] .heading-container{
  padding-right: 0 !important;
}
.NavBar-sec{
  width: auto !important;
}
  .top-header .nav-menu-btn-container button,
  .top-header .nav-menu-btn-container img {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .top-header .nav-menu-btn-container button:active {
    padding: 0;
    background: transparent;
  }

  .primary-cta {
    padding: 10px 20px !important;
  }

  .main-header > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding: 3rem 1rem 0 1rem;
  }

  .main-header .heading-container .primary-heading {
    font-size: 34px;
  }

  .main-header .heading-container .sub-heading {
    font-size: 1rem;
    line-height: 1.7;
  }

  .main-header .heading-container .primary-heading > div {
    width: 100%;
  }

  .main-header .heading-container .primary-heading > div span {
    margin: 5px 0 0 0 !important;
  }

  .main-header .heading-container {
    row-gap: 15px;
    padding: 0;
  }

  .main-header .heading-container .primary-cta {
    margin-top: 20px;
  }

  .main-header .hero-img-container {
    width: 470px !important;
    margin-top: 5rem;
    margin-left: 0;
  }

  .main-header .hero-img-container::before {
    display: none;
  }

  .our-features-section {
    padding: 20px 1rem;
  }

  .our-features-section::before {
    bottom: 6rem;
  }

  .our-features-section .heading-container {
    gap: 1rem;
    padding: 0;
    margin-top: 0;
  }

  .our-features-section > div {
    flex-direction: column-reverse;
    row-gap: 2rem !important;
  }

  .our-features-section .content-section {
    row-gap: 24px;
  }

  .services-container.container-cards {
    align-items: flex-start;
    row-gap: 40px;
    padding: 7rem 1rem;
  }

  .services-container.container-cards .heading-container {
    align-items: flex-start !important;
    row-gap: 20px;
  }

  .services-container.container-cards .heading-container,
  .services-container.container-cards .heading-container > p {
    text-align: left !important;
  }

  .services-cards-container {
    padding: 0;
    gap: 20px !important;
  }

  .services-cards-container > a {
    width: 100% !important;
    height: 205px !important;
  }

  .services-container.container-cards .services-cards-container > a > div {
    padding: 1rem !important;
    row-gap: 0.6rem;
  }

  .service-icon-container {
    width: 38px;
    height: 38px;
  }

  .services-container.container-cards .service-icon-container::before {
    width: 14px;
    height: 14px;
    top: -1px;
  }

  .services-container.container-cards .service-icon-container::after {
    width: 23px;
    height: 23px;
    bottom: -3px;
    right: -4px;
  }

  .service-icon-container svg {
    width: 100%;
    height: 100%;
  }

  .services-container.container-cards
    .services-cards-container
    > a
    > div
    > h2.service-name {
    margin: 15px 0 0 0 !important;
    font-size: 18px;
  }

  .services-container.container-cards
    .services-cards-container
    > a
    > div
    > p.service-description {
    font-size: 14px;
    line-height: 1.4rem;
  }

  .services-container.container-cards .see-more-services-btn {
    padding: 10px 20px !important;
    font-size: 14px !important;
  }

  .services-container + .our-features-section {
    padding: 20px 0 0 0;
  }

  .services-container + .our-features-section > div {
    flex-direction: column-reverse;
    gap: 40px !important;
  }

  .services-container + .our-features-section > div .content-section > h1,
  .services-container
    + .our-features-section
    > div
    .content-section
    > .primary-cta {
    margin: 0 1rem !important;
  }

  .services-container
    + .our-features-section
    > div
    .content-section
    ul.react-tabs__tab-list {
    padding: 2px 1rem;
    scrollbar-width: none;
    overflow-x: scroll;
  }

  .services-container
    + .our-features-section
    > div
    .content-section
    ul.react-tabs__tab-list
    li {
    min-width: fit-content;
  }
  .our-features-section .content-section > *{
    margin: 0 !important;
  }
  .our-features-section .content-section > .primary-cta {
    font-size: 14px;
  }

  .services-container
    + .our-features-section
    div.react-tabs__tab-panel--selected {
    width: 92% !important;
    margin: 0 1rem;
  }

  .our-features-section .gif-container {
    padding: 0 0rem;
  }

  .featured-on-section {
    margin: 0;
  }

  .featured-on-section > h1 {
    font-size: 22px;
  }

  section.latest-insights-section {
    margin: 0 !important;
    padding: 20px 1rem;
  }

  section.latest-insights-section > h1 {
    margin: 0 0 40px 0;
    text-align: left !important;
  }

  section.latest-insights-section .articles-container {
    height: fit-content;
    flex-wrap: wrap;
  }

  section.latest-insights-section .articles-container .blog-card {
    width: 100%;
    margin: 0 !important;
  }

  section.latest-insights-section
    .articles-container
    .blog-card
    .read-more-btn {
    font-size: 14px;
    padding: 10px 20px !important;
    font-weight: 700;
  }

  .our-features-section .heading-container .primary-heading,
  .services-container.container-cards .heading-container > h1,
  section.latest-insights-section > h1,
  .services-container + .our-features-section > div .content-section > h1,
  .services-container + .our-features-section > div .content-section > h1 {
    font-size: 26px;
  }
  .content-section h1{
    font-weight: 600;
    font-size: 30px;
  }
  .swiper-scrollbar-drag{
    display: none;
  }
}
