.sec-project{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.title-project{
    width: 40%;
    text-align: center;
}
.title-project h1{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 

  }

  .card {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 0px !important; 
    border: none !important;
    background: #00000000 !important;
  }
  
  .card-image img {
    width: 100%;
    height: auto;
    max-height: 360px;
    transition: transform 0.3s ease;
    display: block;
    padding: 0 !important;
  }
  
  .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    transform: translateY(100%);
    transition: transform 0.3s ease;
    padding: 10px;
  }

  .card:hover .card-image img {
    transform: translateY(-10px); 
  }

  /*project detail*/

  .project-detail-conntent{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .project-detail-title h1{
    font-weight: 700;
    font-size: 50px;
  }
  .project-detail-title{
    max-width: 65%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .project-detail-title p:nth-child(3){
    font-size: 18px;
    line-height: 32px;
    margin-top: 20px;
  }
  .project-detail-someDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  .project-detail-border {
    position: relative;
    padding: 3px 8px; /* Adjust padding as needed */
    border-radius: 10px; /* Adjust the border-radius as needed */
    border: 1px solid #db070e7e;
    margin: 0 !important;
  }
  .project-detail-border-tag{
    padding: 3px 20px;
  }
  .project-detail-icon{
    padding: 8px 8px;
  }
  .project-detail-border-wrapper {
    width: 38px;
}
.swiper-Discover{
  max-width: 90vw;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
}
span.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
}
  /* .swiper-Discover-Slide{
    width: 525px !important;
  } */
  .btn-sliider {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    z-index: 111;
    position: relative; /* or absolute/fixed/sticky as needed */
}
.btn-sliider img{
  width: 30px !important;
}
.projectDiscussion-sec{
  margin-top: 110px;
  position: relative;
}
.projectDiscussion-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projectDiscussion-content-circle{
  margin-left: -50px;
}
.projectDiscussion-content h1{
  font-size: 60px;
  margin-top: -100px;
  font-weight: 700;
  margin-bottom: 25px;
}
.projectDiscussion-content p{
  font-size: 24px;
  margin-bottom: 25px;
}
.projectDiscussion-span{
  display: flex;
  gap: 20px;
}
.projectDiscussion-span img{
  margin-left: 0;
}
.projectDiscussion-span span{
  display: flex;
  color: #FFFFFF;
  font-weight: 300;
  align-items: center;
  gap: 5px;
}
.projectDiscussion-content {
  flex: 1;
}
html[lang="ar"] .projectDiscussion-content a img{
  rotate: 180deg;
}
.projectDiscussion-img {
  flex: 1;
}
.projectDiscussion-img img{
  width: 100%;
}
.swiper-Discover img {
  width: 100%;
}
.disabled {
  opacity: 30%;
}
.btn-slide img{
  width: 34px !important;
}
.btn-sliider{
  margin-top: 50px;
}
  /*
  .card.active .card-image img {
    transform: translateY(-70%); 
  }
  
  .card.active .card-content {
    transform: translateY(-0%); 
  }
  /*style card*/
  /* .Vend-card.card{
    background: linear-gradient(95.96deg, #930004 12.81%, #DB070D 100%);
  }
  .features-card.card{
    background: linear-gradient(112deg, #FFC000 -23.59%, #FF7A00 62.12%);
  } */
  /* .features-card.active .card-image img{
    transform: translateY(-60%) !important;
  } */
  /* .vend.mobile-card.card{
    background: linear-gradient(130.28deg, #C28483 1.82%, #925E5D 96.47%);
  }
  .deco-card.card{
    background: linear-gradient(111.88deg, #D1D9C2 -23.59%, #748557 62.12%);
  }
  .mansa-card.card{
    background: #f9f9f9;
  }
  .mansa-card.card h2,.mansa-card.card p{
    color: #0F0202 !important;
  }
  .salis-card.card{
    background: linear-gradient(149.82deg, #81A0EA 2.52%, #2149A6 81.61%);
  }
  .logo-project-card.card{
    background: #220362;
  }
  .hon-card.card{
    background: linear-gradient(130.28deg, #2563EB 1.82%, #022981 96.47%);
  }
  .features1-card.card{
    background: linear-gradient(130.28deg, #7239EA 1.82%, #022981 96.47%);
  }
  .features2-card.card{
    background: #E9E7FD;
  }
  .features3-card.card{
    background: #A24141;
  }
  .features4-card.card{
    background: linear-gradient(130.28deg, #FFCA73 1.82%, #E1910B 96.47%);

  }
  .features5-card.card{
    background: #D6D6D6;
  }
  .features6-card.card{
    background: #662BE1;
  }
  .features7-card.card{
    background: #CED4FF;
  }
  .features8-card.card{
    background: #3D4FB4;
  } */
  .projectDiscussion-img img:nth-child(1){
    z-index: 1;
    position: relative;
  }
  .project-detail-sec{
    position: relative;
  }
  .projectDiscussion-img-base{
  margin-left: 50px;
  margin-top: -30%;
  }
  .blurred-circle::before,.blurred-circle::after,.blur-circle::after{
    background: #EC2227;
    border-radius: calc(infinity* 1px);
    content: "";
    filter: blur(300px);
    height: 340px;
    position: absolute;
    width: 340px;
    z-index: -1;
  }
  .blur-circle::after{
    bottom: 0;
    right: 0%;
  }
  .blurred-circle::before{
    top: 0;
    right: 10%;
  }
  .blurred-circle::after{
    bottom: 0;
    left: 10%;
  }
  .project-detail-image .swiper-scrollbar{
    display: none;
  }
  /* Responsive breakpoints */
  .project-detail-image-mobile{
    display: none;
  }
  @media (max-width: 1200px) {
    .gallery {
      grid-template-columns: repeat(3, 1fr); /* 3 columns for smaller screens */
    }
  }

  @media (max-width: 1024px) {
    /* .project-detail-conntent{
      flex-direction: column-reverse;
      gap: 20px;
    } */
     .projectDiscussion-img{
      display: none;
     }
     .project-detail-image-mobile{
      display: block !important;
     }
     .project-detail-image{
      display: none;
     }
    .project-detail-title{
      max-width: 90%;
    }
    .project-detail-image{
      margin-bottom: 15px;
    }
    .project-detail-title p{
      text-align: left;
    }
    .projectDiscussion-content h1{
      font-size: 40px;
    }
    .projectDiscussion-content p{
      font-size: 18px;
    }
    .projectDiscussion-span{
      flex-direction: column;
      margin-bottom: 20px;
    }
    .projectDiscussion-img-base{
      margin-left: 10px;
    }
    .gallery {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for even smaller screens */
    }
    span.swiper-pagination-bullet {
      width: 8px !important;
      height: 8px !important;
    }
    .projectDiscussion-container{
      flex-direction: column;
    }
    .btn-sliider{
      display: none;
    }
    .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
      justify-content: center;
      
    }
    .title-project{
      width: 70%;
    }
    .card.active.Vend-card img{
      transform: translateY(-100%) !important;
    }
    .projectDiscussion-sec,.sec-project{
      margin-top: 50px;
    }
    .project-detail-someDetail-button{
      margin-bottom: 0;
    }
    .projectDiscussion-sec{
      margin-top: 0;
    }
    .project-detail-title h1{
      font-size: 40px;
      text-align: left;
    }
    html[lang="ar"] .project-detail-title h1,html[lang="ar"]  .project-detail-title p{
      text-align: right;
    }
    .title-project h1{
      font-size: 32px;
    }
    .gallery{
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 767px) {
    
    .project-detail-title{
      width: 100%;
      max-width: 100%;
    }
    
    .project-detail-title p{
      font-size: 14px;
      text-align: left;
    }
    .project-detail-someDetail{
      flex-wrap: wrap;
    }
    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
      bottom: 60vw !important;
  }
  .swiper-Discover .swiper-wrapper {
    padding-top: 10vw;
}
    .gallery {
      grid-template-columns: 1fr; /* 1 column for mobile screens */
    }
    .title-project h1{
      font-size: 30px;

    }
    .title-project{
      width: 85%;
      text-align: left;
    }
    html[lang="ar"] .title-project{
      text-align: right;
    }
    .project-detail-title{
      gap: 20px;
    }
    .project-detail-title{
      align-items: flex-start;
    }
    .project-detail-someDetail{
      justify-content: flex-start;
    }
    .blurred-circle::before, .blurred-circle::after, .blur-circle::after{
      width: 200px;
    }
  }