.secvices-Banner{
    margin-top: 100px;
    text-align: center;
}
.secvices-Banner h1{
    color: #f5f5f5;
    margin-bottom: 100px;
    font-family: Faktum Test;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}
.banner-mobile{
    display: none;
}
.banner-serves{
    display: none;
}
.section-image-right section.sec-width{
    flex-direction: row-reverse !important;
}
@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {
  
}

@media (max-width: 767px) {
    .banner-mobile{
        display: inline;
    }
    .secvices-Banner{
        margin-top: 50px;
    }
    .secvices-Banner h1{
        font-size: 32px;
        margin-bottom: 40px;
    }
}